:host {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.auth__content__forms__top {
  height: 100%;
}
.wrong__number {
  color: var(--auth-color-primary);
  margin-top: 1rem;
}
virtwoo-auth-form {
  margin-bottom: 2rem;
}
