.arrow-up {
  position: absolute;
  top: 92%;
  left: 45%;
}

.arrow-left {
  position: absolute;
  top: 0%;
  left: 2%;
}

.distance-card{
  position: absolute;
  top: 90%;
  left: 3%;
}

.text-name {
  font-size: 25px; 
  text-transform: capitalize;
}

.text-small {
  font-size: 15px;
}