<ion-content >
  <ion-fab vertical="top" horizontal="start" slot="fixed"  class="top">
  <ion-header class="opt-top transparent">
      <ion-toolbar class="transparent">
        <fa-icon 
          slot="start" 
          [icon]="['fas', 'arrow-left']" 
          class="icono-white sombra" 
          [routerLink]="[origin === '0' ? urlHome : urlWinks]"></fa-icon>
        <div class="end status" slot="end">
          <ion-label
            class="text-card text-status text-small">
            {{userWink.status ? userWink.status : 'Disponible'}}
          </ion-label>
        </div>
      </ion-toolbar>
    </ion-header>
  </ion-fab>
  <div class="contenedor-card total">
    
    <ion-img 
      class="public-img"
      [src]="userWink.avatarUrl">
    </ion-img>
    <div class="text-bottom">
      <ion-label  class="public-name text-card" >
          {{userWink ? userWink.firstName + ' ' +  userWink.lastName : 'John Doe'}}
      </ion-label>
      <ion-label class="text-card text-small">
          {{userWink ? (userWink.distance | distance) : ''}}
      </ion-label>
    </div>    
    <ion-fab *ngIf="load" class="button-wink end">
      <div *ngIf="wink" class="end">
          <ion-fab-button *ngIf="!send && !wink.approved || wink.approved" (click)="GoProfiles()" size="small" color="light">
              <ion-icon name="document"></ion-icon>
          </ion-fab-button>
          <ion-fab-button *ngIf="!send && !wink.approved" (click)="AceptWink()" size="small" color="success">
              <ion-icon name="checkmark"></ion-icon>
          </ion-fab-button>
          <ion-fab-button *ngIf="!send && !wink.approved" (click)="DeleteWink()" size="small" color="danger">
              <ion-icon name="close"></ion-icon>
          </ion-fab-button>
          <ion-fab-button *ngIf="send && !wink.approved" (click)="CancelWink()" size="small" color="dark">
              <fa-icon 
              [icon]="['far', 'smile-wink']" 
              class="icono-public" 
              ></fa-icon>  
          </ion-fab-button>
      </div>
      <ion-fab-button *ngIf="!wink" (click)="SendWink()"  size="small" color="light">
          <fa-icon 
          [icon]="['far', 'smile-wink']" 
          class="icono-public" 
          ></fa-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <ion-list>
    <item-list *ngFor="let item of publicItems"
      [item]="item"></item-list>
    </ion-list>
</ion-content>
