<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<div 
  *ngIf="loading" 
  class="spinner">
  <spinner></spinner>
</div>

<ion-content 
  *ngIf="!loading" 
  class="ion-padding">
  <form 
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <div class="contenedorAvatar" >
      <ion-avatar (click)="SeleccionarImagen()" class="avatar-profile"> 
        <ion-img  
          *ngIf="!loadingAvatar" 
          alt="Avatar" 
          (ionError)="ErrorImagen()" 
          [src]="user.avatarUrl ? user.avatarUrl : avatar.filePath" >
      </ion-img>
        <ion-spinner 
          *ngIf="loadingAvatar" 
          name="crescent" 
          class="avatar-profile">
        </ion-spinner>
      </ion-avatar>
    </div>
    <ion-list>
      <ion-item >
          <fa-icon 
            [icon]="['fas', 'user']"
            class="icono icon-center"
            slot="start" >
          </fa-icon>
        <ion-label position="floating" >
          firstName
        </ion-label>
        <ion-input 
          
          formControlName="firstName"
        >
        </ion-input>
      </ion-item>
      <ion-item>
          <fa-icon 
            [icon]="['fas', 'user']"
            class="icono icon-center"
            slot="start" >
          </fa-icon>
        <ion-label position="floating" >
          lastName
        </ion-label>
        <ion-input 
          formControlName="lastName"
        >
        </ion-input>
      </ion-item>
      <ion-item>
          <fa-icon 
            [icon]="['fas', 'envelope']"
            class="icono icon-center"
            slot="start" >
          </fa-icon>
        <ion-label position="floating" >
          email
        </ion-label>
        <ion-input 
          formControlName="email"
          type="email"
        >
        </ion-input>
      </ion-item>
      <div class="phone">
        <ion-item class="phoneCode">
          <fa-icon 
            [icon]="['fas', 'mobile-alt']"
            class="icono icon-center"
            slot="start" >
          </fa-icon>
          <ion-label position="floating" >
            Code
          </ion-label>
          <ion-input 
            type="number"
            formControlName="phoneCode"
          >
          </ion-input>
        </ion-item>
        <ion-item class="phoneNumber">
          <ion-label position="floating" >
            Phone Number
          </ion-label>
          <ion-input 
            type="number"
            formControlName="phoneNumber"
          >
          </ion-input>
        </ion-item>
      </div>
      <ion-item>
        <fa-icon 
          [icon]="['fas', 'calendar-alt']"
          class="icono icon-center"
          slot="start" >
        </fa-icon>
        <ion-label position="floating" >
          birthday
        </ion-label>
        <ion-datetime 
          displayFormat="DD/MM/YYYY" 
          min="1900-01-01" 
          [max]="FechaActual() | date:'yyy-MM-dd'"
          cancel-text="Cancelar" 
          done-text="Aceptar" 
          formControlName="birthday"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <fa-icon 
        [icon]="['fas', 'genderless']"
        class="icono icon-center"
        slot="start" ></fa-icon>
        <ion-label position="floating" >
          gender
        </ion-label>
        <ion-select 
          interface="popover"
          ok-text="Aceptar" 
          cancel-text="Cancelar" 
          placeholder="Seleccione un sexo"
          formControlName="gender">
          <ion-select-option *ngFor="let gender of genders" [value]="gender">
            {{gender}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-toggle color="primary" formControlName="autosave" class="toggle-profle"></ion-toggle>
        <ion-label  >
            Autoguardado de contactos
          </ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit" [disabled]="FormValid()">Save</ion-button>
    <ion-button expand="block" color="danger" (click)="user.emptyProfile ? Logout() : Cancel()">Cancel</ion-button>
  </form>
</ion-content>