<ion-header>
  <ion-toolbar>
    <div *ngIf="!user.emptyProfile" class="ion-activatable ion-activatable-up ripple-toolbar ripple-toolbar-mis" slot="start" >
      <fa-icon 
        [icon]="['fas', 'arrow-left']" 
        class="icono-arrow"
        (click)="Back()"
      ></fa-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <ion-title>
      Basic data
    </ion-title>
  </ion-toolbar>
</ion-header>

<div 
  *ngIf="loading" 
  class="spinner">
  <spinner></spinner>
</div>

<ion-content 
  *ngIf="!loading" 
  class="ion-padding">
  <form 
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <div class="contenedorAvatar" >
      <ion-avatar (click)="SeleccionarImagen()" class="avatar-profile"> 
        <ion-img  
          class="img-avatar"
          *ngIf="!loadingAvatar" 
          alt="Avatar" 
          (ionError)="ErrorImagen()" 
          [src]="user.avatarUrl ? user.avatarUrl : avatar" >
        </ion-img>
        <ion-skeleton-text *ngIf="loadingAvatar"  animated></ion-skeleton-text>
      </ion-avatar>
    </div>
    <ion-list>
      <ion-item >
          <fa-icon 
            [icon]="['fas', 'user']"
            class="icono icon-center"
            slot="start" >
          </fa-icon>
        <ion-label position="floating" >
          First Name
        </ion-label>
        <ion-input 
          
          formControlName="firstName"
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        {{ MessageError('firstName') }}
      </ion-text>
      <ion-item>
          <fa-icon 
            [icon]="['fas', 'user']"
            class="icono icon-center"
            slot="start" >
          </fa-icon>
        <ion-label position="floating" >
          Last Name
        </ion-label>
        <ion-input 
          formControlName="lastName"
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        {{ MessageError('lastName') }}
      </ion-text>
      <ion-item>
          <fa-icon 
            [icon]="['fas', 'envelope']"
            class="icono icon-center"
            slot="start" >
          </fa-icon>
        <ion-label position="floating" >
          Username
        </ion-label>
        <ion-input 
          formControlName="username"
          maxlength="16"
          minlength="4"
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        {{ MessageError('username') }}
      </ion-text>
      <ion-item>
          <fa-icon 
            [icon]="['fas', 'envelope']"
            class="icono icon-center"
            slot="start" >
          </fa-icon>
        <ion-label position="floating" >
          E-mail
        </ion-label>
        <ion-input 
          formControlName="email"
          type="email"
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        {{ MessageError('email') }}
      </ion-text>
      <div class="phone">
        <div class="phoneCode">
          <ion-item>
            <fa-icon 
              [icon]="['fas', 'mobile-alt']"
              class="icono icon-center"
              slot="start" >
            </fa-icon>
            <ion-label position="floating" >
              Code
            </ion-label>
            <ion-input 
              type="number"
              formControlName="phoneCode"
            >
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            {{ MessageError('phoneCode') }}
          </ion-text>
        </div>
        <div class="phoneNumber">
          <ion-item >
            <ion-label position="floating" >
              Phone Number
            </ion-label>
            <ion-input 
              type="number"
              formControlName="phoneNumber"
            >
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            {{ MessageError('phoneNumber') }}
          </ion-text>
        </div>
      </div>
      <ion-item>
        <fa-icon 
          [icon]="['fas', 'calendar-alt']"
          class="icono icon-center"
          slot="start" >
        </fa-icon>
        <ion-label position="floating" >
          Birthday
        </ion-label>
        <ion-datetime 
          displayFormat="DD/MM/YYYY" 
          min="1900-01-01" 
          [max]="FechaActual() | date:'yyy-MM-dd'"
          cancel-text="Cancelar" 
          done-text="Aceptar" 
          formControlName="birthday"
        ></ion-datetime>
      </ion-item>
      <ion-text color="danger">
        {{ MessageError('birthday') }}
      </ion-text>
      <ion-item>
        <fa-icon 
        [icon]="['fas', 'genderless']"
        class="icono icon-center"
        slot="start" ></fa-icon>
        <ion-label position="floating" >
          Gender
        </ion-label>
        <ion-select 
          interface="popover"
          ok-text="Aceptar" 
          cancel-text="Cancelar" 
          placeholder="Seleccione un sexo"
          formControlName="gender">
          <ion-select-option *ngFor="let gender of genders" [value]="gender.value">
            {{gender.description}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger">
        {{ MessageError('gender') }}
      </ion-text>
      <ion-item>
        <ion-toggle color="primary" formControlName="autosave" class="toggle-profle"></ion-toggle>
        <ion-label  >
            Autosave contacts
          </ion-label>
      </ion-item>
      <ion-text color="danger">
        {{ MessageError('autosave') }}
      </ion-text>
    </ion-list>
    <ion-button expand="block" type="submit" [disabled]="FormValid()">Save</ion-button>
    <ion-button expand="block" color="light" (click)="user.emptyProfile ? Logout() : Back()">Cancel</ion-button>
  </form>
</ion-content>