<ion-item 
*ngIf="wink && !wink.approved && wink.user" 
class="ion-activatable ion-activatable-up">
  <ion-avatar  class="avatar-wink ion-activatable ion-activatable-up" (click)="GoPrivateProfile()">
    <img [srcPath]="Avatar()" class="img-avatar" (ionError)="ErrorImagen()" >
  </ion-avatar>
  <ion-label class="label-item">
    <div>
      <div class="title-wink" (click)="GoPrivateProfile()" [ngClass]="{'title-newWink': wink.user.newWink}">
        {{wink && wink.user ? wink.user.firstName + ' ' + wink.user.lastName : 'John Doe'}}
        <ion-badge *ngIf="wink.user.newWink" class="item-win-badge">*</ion-badge>
      </div>
      <div *ngIf="wink" class="date-wink">
        <ion-icon name="time" color="medium"></ion-icon>
        <ion-note class="note-wink"  color="medium">{{ Time(wink.createdAt)  }}</ion-note>
      </div>
    </div>
    <div *ngIf="!(load | async)"  class="date-wink content-center" >
      <ion-button class="button-50 input-relative" (click)="Accept()">
        {{'WINK.BUTTONS.WINK' | translate}}
      </ion-button>
      <ion-button  class="button-ignore button-50 input-relative" color="light" (click)="Ignore()">
        {{'WINK.BUTTONS.IGNORE' | translate}}
      </ion-button>
    </div>
    <div *ngIf="(load | async)" class="date-wink content-center">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
  </ion-label>
</ion-item>

<ion-item-sliding *ngIf="wink && wink.approved && wink.user">

  <ion-item-options *ngIf="!(load | async)" side="start">
    <ion-item-option color="danger" expandable="true" (click)="Ignore()">
      {{'WINK.BUTTONS.DELETE' | translate}}
    </ion-item-option>
  </ion-item-options>

  <ion-item  (click)="GoPrivateProfileA()" class="ion-activatable ion-activatable-up">
    <ion-ripple-effect ></ion-ripple-effect>
    <ion-avatar  class="avatar-wink ion-activatable ion-activatable-up">
      <img [srcPath]="Avatar()" class="img-avatar" (ionError)="ErrorImagen()" >
    </ion-avatar>
    <ion-label class="label-item">
      <div class="title-wink" (click)="GoPrivateProfile()" >
        {{wink && wink.user ? wink.user.firstName + ' ' + wink.user.lastName : 'John Doe'}}
      </div>
      <div *ngIf="wink" class="date-wink">
        <ion-icon name="time" color="medium"></ion-icon>
        <ion-note class="note-wink"  color="medium">{{ Time(wink.updatedAt) }}</ion-note>
      </div>
    </ion-label>
  </ion-item>

  <ion-item-options *ngIf="!(load | async)" side="end">
    <ion-item-option color="danger" expandable="true" (click)="Ignore()">
      {{'WINK.BUTTONS.DELETE' | translate}}
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>