<div class="wrapper-sub-itemWink ion-activatable ion-activatable-up" (click)="SelectRemove($event)" ion-long-press [interval]="400" (longPressed)="Removing()">
  <ion-radio-group *ngIf="currentRemoving" class="center icon-column" allowEmptySelection="true" >
    <ion-radio [checked]="initRemoving"></ion-radio>
  </ion-radio-group>
  <ion-item
  class="ion-activatable ion-activatable-up none-item-border"

  [ngClass]="{'all-column' : !currentRemoving, 'delete-column': currentRemoving}"
  >
    <ion-ripple-effect  *ngIf="!currentRemoving"></ion-ripple-effect>
    <ion-avatar  class="avatar-wink ion-activatable ion-activatable-up" (click)="GoPrivateProfileA()">
      <img [srcPath]="Avatar()" class="img-avatar" (ionError)="ErrorImagen()" >
    </ion-avatar>
    <ion-label class="label-item" (click)="GoPrivateProfileA()">
      <div class="title-wink" (click)="GoPrivateProfile()" >
        {{wink && wink.user ? wink.user.firstName + ' ' + wink.user.lastName : 'John Doe'}}
      </div>
      <div *ngIf="wink" class="date-wink">
        <ion-icon name="time" color="medium"></ion-icon>
        <ion-note class="note-wink"  color="medium">{{ Time(wink.updatedAt) }}</ion-note>
      </div>
    </ion-label>
    <!-- <ion-icon name="more" slot="end" *ngIf="!currentRemoving || false" (click)="ShowMenu($event)" class="margin-0"></ion-icon> -->
  </ion-item>
  <ion-ripple-effect  *ngIf="currentRemoving"></ion-ripple-effect>
</div>
