
.icon-center{
  align-self:center;
}

.toggle-profile {
  padding-left: 0px !important;
}

.phone {
  width: 100%;
  display: flex;
}

.phoneCode {
  flex: 0 0 35%;
  margin-right: 1rem;
}

.phoneNumber {
  flex: 0 0 60%;
}

