.acordion{
  min-height: 10px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.contenedor {
  justify-content: center;
  display: flex;
  padding-top: 2%;
}
.item {
  align-self: center;
}
.contenedorDerecha {
  justify-content: flex-end;
  display: flex;
}
.acordion {
  margin-top: 1%;
  margin-bottom: 1%;
  min-height: 50px;
}

button {
  width: 0% !important;
}
