.acordion{
  min-height: 10px;
}
.icon-order {
  font-size: 150%;
}

.item-name {
  width: 90%;
}

.label-name {
  font-size: xx-large; 
  text-align: center;
}
.item {
  align-self: center;
}
.contenedorDerecha {
  justify-content: flex-end;
  display: flex;
}
.acordion {
  margin-top: 1%;
  margin-bottom: 1%;
  min-height: 50px;
}

button {
  width: 0% !important;
}

.ordenar {
  border: 0.5px solid rgb(192, 189, 189);
  border-radius: 3px;
}