<ion-header>
  <ion-toolbar>
    <div class="ion-activatable ion-activatable-up ripple-toolbar ripple-toolbar-mis" slot="start" >
      <fa-icon 
        [icon]="['fas', 'arrow-left']" 
        class="icono-arrow"
        (click)="Back()"
      ></fa-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <ion-title>
      {{'WINK.PRIVATE_PROFILES.TITLE' | translate}}
    </ion-title>
    <div class="ion-activatable ion-activatable-up ripple-toolbar ripple-toolbar-mie" slot="end" >
      <fa-icon 
        [icon]="['far', 'save']" 
        class="icono-arrow"
        (click)="Confirm()"
      ></fa-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="contenedorAvatar" >
    <ion-avatar class="avatar-profile"> 
      <ion-img 
      (ionError)="ErrorImagen()" 
      [src]="Avatar()" 
      class="img-avatar"></ion-img>
    </ion-avatar>
  </div>

  <div class="contenedor" >
    <ion-title class="title-name">
      {{userWink ? userWink.firstName + ' ' + userWink.lastName : 'John Doe'}}
    </ion-title>
  </div>
  <ion-list *ngFor="let section of items; let i = index;" >
    <ion-list-header *ngIf="section.length > 0">
      <ion-label>{{sections[i + 1].name | translate}}</ion-label>
    </ion-list-header>
    <item-list 
      *ngFor="let item of section"
      [item]="item.item">
    </item-list>
  </ion-list>
</ion-content>
