<ion-header>
  <ion-toolbar>
      <fa-icon 
      slot="start" 
      [icon]="['fas', 'arrow-left']" 
      class="icono-arrow" 
      [routerLink]="userWink ? [urlPublic, origin === '0' ? userWink._id : idWink, origin] : [urlHome]"></fa-icon>
    <ion-title>Private Profiles</ion-title>
    <ion-icon 
      slot="end" 
      name="save" 
      class="icon-bar" 
      color="medium" 
      (click)="Confirm()">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="contenedorAvatar" >
    <ion-avatar class="avatar-profile"> 
      <ion-img [src]="userWink ? userWink.avatarUrl : ''"></ion-img>
    </ion-avatar>
  </div>

  <div class="contenedor" >
    <ion-title class="title-name">
      {{userWink ? userWink.firstName + ' ' + userWink.lastName : 'John Doe'}}
    </ion-title>
  </div>
  <ion-list *ngFor="let section of items; let i = index;" >
    <ion-list-header *ngIf="section.length > 0">
      <ion-label>{{sections[i + 1].name}}</ion-label>
    </ion-list-header>
    <item-list 
      *ngFor="let item of section"
      [item]="item.item">
    </item-list>
  </ion-list>
</ion-content>
