.arrow-up {
  position: absolute;
  top: 92%;
  left: 45%;
}

.arrow-left {
  position: absolute;
  top: 0%;
  left: 2%;
}

.status{
  padding-right: 4%;
  width: 80%;
}

.public-name{
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: start;
}

.text-bottom{
  position: absolute;
  top: 84%;
  left: 3%;
  display: grid;
}

.public-img {
  width: 100%;
  height: 94.5%;
}

.text-small {
  font-size: 1rem;
  text-align: start;
}

.opt-top {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
}

.button-wink {
  position: absolute;
  top: 94.5%;
  left: 0%;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.buttons-wink {
  font-size: 1.5rem;
  font-weight: inherit;
}
.top {
  height: auto;
  width: 100%;
  top: 0px;
  left: 0px;
}

.skeleton-content-text {
  width: 50%;
}

.skeleton-name-public {
  width: 50%;
  height: 40px;
}

.gradient {
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.8)), to(rgba(0, 0, 0, 0)));
  background: black;
  height: 79.5%;
  width: 100%;
  position: absolute;
  top: 15%;
}