<ion-tabs [ngClass]="{'ocultar': hidden}">
  <ion-tab-bar slot="bottom" class="tabs">
    <ion-tab-button [tab]="homeRoute" [disabled]="tour"  class="line-sub">
      <ion-icon src="/assets/icon/home.svg" class="icon-tab"></ion-icon>
      <ion-label  class="label-tab">
        {{'WINK.HOME.TITLE' | translate}}
      </ion-label>
      <div></div>
    </ion-tab-button>

    <ion-tab-button [tab]="winksRoute" [disabled]="tour" class="line-sub">
      <ion-icon src="/assets/icon/wink.svg" class="icon-tab"></ion-icon>
      <ion-label class="label-tab">
        {{'WINK.WINKS.TITLE'  | translate}}
      </ion-label>
      <div></div>
      <ion-badge color="primary" *ngIf="winksTab" class="badge-tab">
        <span>.</span>
      </ion-badge>
    </ion-tab-button>

    <ion-tab-button [tab]="profilesRoute" [disabled]="tour"  class="line-sub">

      <ion-avatar class="avatar-tab">
        <img [srcPath]="Avatar()" class="img-avatar">
      </ion-avatar>
      <ion-label class="label-tab">
        {{'WINK.PROFILE_SETTINGS.TITLE_TAB' | translate}}
      </ion-label>
      <div></div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>