.list-winks {
    margin-bottom: 0.25rem;
}
.button-del {
  --background: var(--color-pego);
  --background-activated: var(--color-pego);
  --background-focused: var(--color-pego);
  --background-hover: var(--color-pego);
}
.header-segment {
  position: static;
}


all-wh-0 {
  display: none;
}

all-wh-100 {
  display: block;
}