<ion-card 
  class="contenedor-card card-list dimension ion-activatable ion-activatable-up" 
  [ngClass]="{newWink: user.newWink}">
  <div class="status-card">
    <p 
      class="text-card text-status" >
      {{user.status ? user.status : 'Disponible'}}
    </p>
  </div>
  <ion-img 
    class="imagen-full" 
    alt="Avatar" 
    (ionError)="ErrorImagen()" 
    [src]="user ? user.avatarUrl : avatar"
  >
  </ion-img>
  <ion-label class="name-card text-card text-name" >
      {{(user ? user.firstName + ' ' +  user.lastName : 'John Doe') | names}}
  </ion-label>
  <ion-ripple-effect></ion-ripple-effect>
</ion-card>
