<ion-card style="margin: 0px; max-width: 170px;" class="contenedor">
  <div style="display: flex; justify-content: flex-end; width: 100%; padding-top: 2%; padding-right: 3%;" class="texto-encima">
    <p style="
      font-style: oblique; 
      color: rgb(236, 235, 235);
      font-weight: bold; 
      text-transform: capitalize;
      margin: 0%;
      text-shadow: 1px 1px 3px #000;" >Busco sexo parejo</p>
  </div>
  <ion-img class="imagen" alt="Avatar" src="http://192.168.1.119:3000/public/uploads/avatar/0f499988-aa48-4f4e-b1ca-dabc268a001b.jpg"></ion-img>
  <p class="centrado" 
  style="
  color: #fff;
  font-size: 18px; 
  font-weight: bold; 
  text-transform: capitalize;
  margin: 0%;
  text-shadow: 1px 1px 3px #000;
  ">Anibal Farinas</p>
  
</ion-card>
