<ion-item *ngIf="item && itemType" (click)="OpenLink()"  class="item-has-value item-interactive item-input item-label-floating">
  <!--Icono del item-->
  <fa-icon 
  *ngIf="item"
  [icon]="[preIcono, icon]"  
  class="icono"
  slot="start" ></fa-icon>

  <!--Titulo del item-->
  <ion-label 
  position="floating" 
  style="padding-left: 10px;" 
  *ngIf="item">
    {{itemType? itemType.description : ''}}
  </ion-label>
  
  <mat-chip-list
    *ngIf="itemType && itemType.index === indexChip" 
    style="margin-top: 8px; flex-wrap: nowrap; width: 100%; margin-bottom: 5px;">
    <ion-chip outline color="primary"
    *ngFor="let chip of chips">
    {{chip}}
    </ion-chip>
    
  </mat-chip-list>

  <ion-text *ngIf="itemType &&  itemType.index !== indexChip "
    style="margin-left: 2%; margin-top: 8px;" >
    {{item? item.value : ''}}
  </ion-text>
<!--
  <ion-textarea
    *ngIf="itemType &&  itemType.index === indexBiogarfia"
    style="margin-left: 2%;" 
    [value]="item? item.value : ''" readonly>

  </ion-textarea>
-->
</ion-item>