.activo {
  opacity: 1;
}
.inactivo {
  opacity: 0.5;
}

.activo2 {
  opacity: 1;
}
.inactivo2 {
  opacity: 0.5;
}

.grid-home {
  padding-left: 0%; 
  padding-right: 0%; 
  width: 100%;
}

.row-home {
  padding-left: 5px; 
  padding-right: 5px;
}

.col-home {
  padding: 5px;
}