<div class="ion-page" id="home" (swipe)="Swipe($event)">
  <ion-header >
    <ion-toolbar>
      <ion-title>
        {{'WINK.HOME.TITLE' | translate}}
      </ion-title>
      <ion-buttons slot="end">
        <div class="ion-activatable ion-activatable-up ripple-toolbar ripple-toolbar-mie">
          <ion-icon
          src="/assets/icon/location.svg"
          class="icon-bar-ion"
          (click)="AlertRange()"
          ></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="ion-activatable ion-activatable-up ripple-toolbar ripple-toolbar-mie">
          <ion-icon
          src="/assets/icon/think.svg"
          class="icon-bar-ion"
          (click)="PromptStatus()"
          [ngClass]="{
            'icon-green' : (user.status === 'WINK.STATUS.AVAILABLE'),
            'icon-red' : (user.status === 'WINK.STATUS.BUSY'),
            'icon-primary' : (user.status !== 'WINK.STATUS.AVAILABLE' && user.status !== 'WINK.STATUS.BUSY')}">
          </ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
          <div *ngIf="tour" tourAnchor="status"></div>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content >
    <ion-refresher slot="fixed" (ionRefresh)="GPS($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        [pullingText]="'WINK.HOME.REFRESHER' | translate"
        refreshingSpinner="circles"
        [refreshingText]="'WINK.HOME.REFRESHING' | translate">
      </ion-refresher-content>
    </ion-refresher>

    <ion-list>
      <ion-grid *ngIf="nearbyUsers.length > 0  && !load" class="grid-home">
        <ion-row >
          <ion-col
          sizeXs="6"
          sizeSm="4"
          sizeMd="3"
          sizeLg="2.4"
          sizeXl="2"
          class="col-home"
          *ngFor="let user of nearbyUsers">
            <card
            (click)="GoPublicProfile(user)"
            [user]="user"
            [tour]="tour">
          </card>

          </ion-col>

        </ion-row>

      </ion-grid>

      <ion-grid *ngIf="load && !tour" class="grid-home">
        <ion-row >
          <ion-col
          sizeXs="6"
          sizeSm="4"
          sizeMd="3"
          sizeLg="2.4"
          sizeXl="2"
          class="col-home"
          *ngFor="let item of arrayLoad">
            <ion-card class="card-list card-skeleton">
              <ion-skeleton-text animated class="margin-0"></ion-skeleton-text>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div *ngIf="nearbyUsers.length === 0 && !load" class="vacio">
        <p>
          {{'WINK.HOME.NO_NEARBY' | translate}}
        </p>
        <fa-icon [icon]="['fas', 'user-slash']" class="icono"></fa-icon>
      </div>

    </ion-list>

    <ion-infinite-scroll threshold="100px"  (ionInfinite)="LoadUsers($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        [loadingText]="'WINK.HOME.LOADING_NEARBY' | translate"
        >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab
      vertical="bottom"
      horizontal="end"
      slot="fixed"  >

      <div *ngIf="tour" tourAnchor="profiles"></div>
      <div *ngIf="tour" tourAnchor="profiles_buttons"></div>
      <ion-fab-button size="small">
        <ion-icon
          class="icono-public"
          src="/assets/icon/show.svg"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="top" [activated]="OpenFabList">

        <ion-fab-button
          (click)="ChangeProfiles('2')"
          [ngClass]="{'activo': isProfessional, 'inactivo' : !isProfessional}">
          <ion-icon
          class="icono-public"
          src="/assets/icon/professional.svg"></ion-icon>
        </ion-fab-button>

        <ion-fab-button
          (click)="ChangeProfiles('1')"
          [ngClass]="{'activo': isPersonal, 'inactivo' : !isPersonal}">
          <ion-icon
          class="icono-public"
          src="/assets/icon/personal.svg"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>

    </ion-fab>

  </ion-content>
</div>
<tour-step-template >
  <ng-template let-step="step" >
    <ion-card (click)="$event.stopPropagation()" class="padding-0 margin-0">
        <ion-card-header *ngIf="step?.title">
          <ion-card-title>
            {{step?.title}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text class="content-card-tour">
            {{step?.content}}
          </ion-text>
        </ion-card-content>
        <ion-buttons class="content-end">
          <ion-button *ngIf="tourService.hasPrev(step)" (click)="tourService.prev()">
            <ion-icon name="arrow-dropleft" slot="start"></ion-icon>
          </ion-button>
          <ion-button *ngIf="tourService.hasNext(step)" (click)="tourService.next()">
            <ion-icon name="arrow-dropright" slot="end"></ion-icon>
          </ion-button>
          <ion-button (click)="tourService.end()">
            {{step?.endBtnTitle}}
          </ion-button>
        </ion-buttons>
    </ion-card>
  </ng-template>
</tour-step-template>