<ion-item 
  class="item-has-placeholder item-perfil"
  [ngClass]="{'item-has-focus': focus}"
  [formGroup]="form"
  >

  <!--Icono del item-->
  <fa-icon 
    *ngIf="itemType"
    [icon]="itemType? [preIcono, icon] : null"  
    (click)="MostrarSelector()" 
    class="icono"
    slot="start" ></fa-icon>
 
  <!--Titulo del item-->
  <ion-label 
    position="floating" 
    class="padding-left-10"
    *ngIf="itemType">
    {{(itemType? itemType.description : '') | translate}}
  </ion-label>

  <!--Columna con dos inputs, el primero aparece cuando el item solo acepta un valor, el segundo cuando el item acepta dos valores-->
  <div 
  class="contenedor-doble"
  *ngIf="itemType">
    <!--Primer input-->
    <ion-input 
    *ngIf="itemType && itemType.index === 0 || itemType.index === 2 || itemType.index === 1 ||  itemType.index === 3 ||  itemType.index === 6 ||  itemType.index === 7"  
    [placeholder]="MarcaAgua(0) | translate" 
    class="input-item"
    (ionInput)="onInput($event.target.value, 0)"
    [value]="Valor(0)"
    [disabled]="isDisabled"
    maxlength="150"
    minlength="2"
    [type]="type"
    formControlName="campo1"></ion-input>
    
    <!--Segundo input-->
    <ion-input 
    *ngIf="itemType && itemType.index === 2  || itemType.index === 7 " 
    class="input-item"
    [placeholder]="MarcaAgua(1) | translate"
    [value]="Valor(1)"
    (ionInput)="onInput($event.target.value, 1)"
    [disabled]="isDisabled"
    [type]="type"
    formControlName="campo2"
    ></ion-input>
  </div>

  <!--Selector para item de seleccion-->
  <ion-select 
  *ngIf="itemType && itemType.index === 4" 
  class="input-item input-relative"
  interface="popover"
  ok-text="Aceptar" 
  cancel-text="Cancelar" 
  placeholder="Seleccione una opcion"
  (ionChange)="onInput($event.target.value, 0)"
  [value]="Valor(0)"
  formControlName="campo1">
    <ion-select-option
    *ngFor="let option of itemType.options"
    [value]="option._id">
      {{option.name | translate}}
    </ion-select-option>
  </ion-select>

  <!--Input para fecha-->
  <ion-datetime 
  *ngIf="itemType && itemType.index === 5" 
  class="input-item input-relative"
  displayFormat="DD/MM/YYYY" 
  min="1900-01-01" 
  [max]="FechaActual() | date:'yyy-MM-dd'"  
  [value]="Valor(0)? (Valor(0)) : null "
  cancel-text="Cancelar" 
  done-text="Aceptar" 
  (ionChange)="onInput($event.target.value, 0)"
  formControlName="campo1"
  ></ion-datetime>

  <!--Campos para Chips-->
  <mat-chip-list 
  #chipList 
  *ngIf="itemType && itemType.index === 8" 
  class="chip-item chip-margin">
    <ion-input 
    #chipControl
    [value]="Valor(0)"
    hidden
    formControlName="campo1">
    </ion-input>
    <ion-chip outline color="primary"
      *ngFor="let chip of chipArray"
      >
      {{chip}}
      <ion-icon 
        name="close-circle" 
        (click)="DeleteChip(chip)">
      </ion-icon>
    </ion-chip>
      
    <input 
    
    class="native-input sc-ion-input-md sc-ion-input-ios placeholder"
    [placeholder]="MarcaAgua(0)  | translate"
    (focus)="Focus(true)"
    (blur)="Focus(false)"
    maxlength="12"
    autocomplete="off"
    [matChipInputFor]="chipList"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    [matChipInputAddOnBlur]="addOnBlur"
    (matChipInputTokenEnd)="AddChip($event, chipControl)"
    (input)="ValorChip($event.target.value, chipControl)"
    (keydown)="keydown($event)"
    >
  </mat-chip-list>

  <!--Icono para eliminar-->
  <ion-icon 
  *ngIf="!ordenando && !value.basic" 
  name="close-circle-outline" 
  slot="end" 
  (click)="Eliminar()" 
  class="input-relative icon-del"
  ></ion-icon>
  
  <!--Seleccionar tipo de item-->
  <ion-select 
  *ngIf="!itemType" 
  ok-text="Aceptar" 
  cancel-text="Cancelar" 
  class="select-type input-relative"
  interface="popover" 
  [value]="itemType" 
  [placeholder]="'WINK.PROFILE_SETTINGS.OPTIONS.SELECT_ITEMS' | translate" 
  (ionChange)="SelecionarTipoItem($event.target.value)"  
  formControlName="selector"
  >
    <ion-select-option
    *ngFor="let item of tiposItems" 
    [disabled]="Unicos(item)" 
    [value]="item">
      {{item.description | translate}}
    </ion-select-option>
  </ion-select>
</ion-item>
<ion-text color="danger">
  {{ErrorMessage() | translate}}
</ion-text>
