
.item-selector {
  height: 3rem;
}
.item-perfil {
  padding: 0px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1%;
}

.contenedor-doble {
  display: flex;
  flex-direction: column;
  width:  100%;
}

.select-type {
  min-width: 100% !important;
  padding-left: 1rem;
  min-height: 4rem;
}

.icon-del {
  margin-inline-start: 0.1rem !important;
  align-self:center
}