<sl-base-page class="auth"
  backButton="top"
  nav="top"
>

  <div class="auth__content">
    <div class="auth__content__wrapper">

      <div class="auth__content__top column">
        <div class="auth__add-avatar primary">
          <mat-icon>lock</mat-icon>
        </div>
        <div class="auth__text-title">
          {{ 'VIRTWOO_AUTH.MESSAGE.FORGOT_PASSWORD.TITLE' | translate }}
        </div>
        <div class="auth__text-sub-title"
          [innerHTML]="'VIRTWOO_AUTH.MESSAGE.FORGOT_PASSWORD.SUB_TITLE' | translate"
        >
        </div>
      </div>

      <div class="auth__content__bottom">

        <virtwoo-auth-form
          [fields]="['email']"
          [submitText]="'VIRTWOO_AUTH.FORM.BUTTON.SEND' | translate"
          (submitted)="submitted($event)"
        >
        </virtwoo-auth-form>

      </div>

    </div>
  </div>

</sl-base-page>
