/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "../vlibs/virtwoo-auth/auth.scss";
@import 'ngx-tour-ngx-popper/styles.css';

.icono {
  margin-inline-end: 0px !important; 
  align-self:flex-start; 
  min-width: 32px;
  margin-top: 10px;
  color: rgba(var(--ion-text-color-rgb,0,0,0),0.54);
  font-size: 1.6em;
    --highlight-color-focused: #3880ff;
    --highlight-color-valid: #10dc60;
    --highlight-color-invalid: #f04141;
}

.icono-white {
  margin-inline-end: 0px !important; 
  align-self:flex-start; 
  margin-top: 10px;
  color: #fff;
  font-size: 1.6em;
  padding-inline-start: 3%;
}

.icono-arrow {
  margin-top: 10px;
  color: var(--ion-color-medium, #989aa2) !important;
  font-size: 1.6em;
}

.color-medium {
  color:  #7d7e80 !important;
}

.icono-public {
  font-size: 24px;
}

.padding-left-10 {
  padding-left: 10px;
}

.chip-item {
  margin-top: 5px; 
  flex-wrap: nowrap; 
  width: 100%;
}

.input-item {
  margin-left: 2%; 
  width: 100%;
}

.spinner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.contenedorAvatar {
  justify-content: center;
  display: flex;
  padding-top: 2%;
  
}

.contenedor-card{
  position: relative;
  display: block;
  text-align: center;
}

.text-card {
  color: rgb(236, 235, 235);
  font-weight: bold;
  text-shadow: 1px 1px 3px #000;
  margin: 0%;
}

.sombra {
  text-shadow: 1px 1px 3px #000;
}

.status-card{
  position: absolute;
  top: 0px;
  display: flex; 
  justify-content: flex-end; 
  width: 100%; 
  padding-top: 2%; 
  padding-right: 3%;
}

.end {
  display: flex; 
  justify-content: flex-end; 
}
.name-card{
  position: absolute;
  top: 85%;
  left: 3%;
  text-align: start;
  // transform: translate(0%, 0%);
}

.total {
  height: 100%;
  width: 100%;
}

.text-status {
  font-style: oblique;
}

.imagen-full {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.transparent {
  --background: transparent;
}

.placeholder {
  --placeholder-color: initial;
  --placeholder-font-style: initial;
  --placeholder-font-weight: initial;
  --placeholder-opacity: .5;
}

.input-relative {
  position: relative;
}

.width-100 {
  width: 100%;
}

.title-name {
  font-size: x-large; 
  text-align: center;
}

.avatar-profile {
  height: 100px;
  width: 100px;
}

.icon-bar {
  font-size: 180%;
}

.content-center {
  display: flex;
  justify-content: center;
}

.button-float-skeleton {
  width: 40px;
  height: 40px;
  margin: 8px;
}

.img-avatar {
  object-position: top;
  object-fit: cover;
}

.chip-margin {
  margin-bottom: 5px;
}

.vacio {
  align-self: center;
  justify-self: center;
  text-align: center;
  padding-top: 10px;
  > fa-icon {
      font-size: 59px;
      width: 100%;
      margin-bottom: 35px;
      color: #c7c7c7;
  }
  > p {
      font-size: 20px;
      color: #c7c7c7;
  }

}

.ion-activatable-up {
  position: relative;
  overflow: hidden;
}

.ripple-toolbar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  align-items: center;
  text-align: center;
}

.ripple-toolbar-mis{
  margin-inline-start: 3%;
}
.ripple-toolbar-mie {
  margin-inline-end: 3%;
}

.icon-item-list {
  width: 35px;
  text-align: center;
}

.newWink {
  border: 2px #3880ff solid;
}

.card-list {
  margin: 0px; 
  max-width: 170px;
  border-radius: 9%;
  height: 220px;
}

.skeleton-name {
  width: 30%;
  height: 30px;
}

.skeleton-avatar {
  width: 30%; 
  height: 30px;
}
.skeleton-label {
  width: 30%;
}

.skeleton-title-list {
  width: 15%;
  height: 15px;
}

.skeleton-content {
  width: 80%; 
  height: 25px;
}

.skeleton-button {
  height: 30px;
}