<ion-menu side="start" contentId="main" menuId="menuSettings" >
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>
          {{'WINK.PROFILE_SETTINGS.MENU.TITLE' | translate}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="GoBasicData()" class="ion-activatable ion-activatable-up">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>
            {{'WINK.PROFILE_SETTINGS.MENU.BASIC_DATA' | translate}}
        </ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <ion-item (click)="Logout()" class="ion-activatable ion-activatable-up">
        <ion-icon name="exit" slot="start"></ion-icon>
        <ion-label>
            {{'WINK.PROFILE_SETTINGS.MENU.LOGOUT' | translate}}
        </ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main">

  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button >
        </ion-menu-button>
        <div *ngIf="tour" tourAnchor="menu"></div>
      </ion-buttons>
      <ion-title>
          {{'WINK.PROFILE_SETTINGS.TITLE' | translate}}
      </ion-title>
      <div *ngIf="!loading" class="ion-activatable ion-activatable-up ripple-toolbar ripple-toolbar-mie" slot="end" >
        <fa-icon
          [icon]="[order ? 'far' : 'fas',  'list-alt']"
          class="icon-bar color-medium"
          (click)="Ordenar()"
        ></fa-icon>
        <ion-ripple-effect></ion-ripple-effect>
        <div *ngIf="tour" tourAnchor="order"></div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" >

    <div *ngIf="loading">
      <div class="contenedorAvatar" >
        <ion-avatar  class="avatar-profile">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
      </div>
      <div class="content-center" >
          <ion-skeleton-text animated class="skeleton-name"></ion-skeleton-text>
      </div>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
            <ion-skeleton-text animated class="skeleton-bio-label"></ion-skeleton-text>
            <ion-skeleton-text animated class="skeleton-bio-content"></ion-skeleton-text>
        </ion-label>
      </ion-item>
        <ion-label>
            <ion-skeleton-text animated class="skeleton-section"></ion-skeleton-text>
        </ion-label>
        <ion-label>
            <ion-skeleton-text animated class="skeleton-section"></ion-skeleton-text>
        </ion-label>
        <ion-label>
            <ion-skeleton-text animated class="skeleton-section"></ion-skeleton-text>
        </ion-label>
        <ion-label>
            <ion-skeleton-text animated class="skeleton-section"></ion-skeleton-text>
        </ion-label>
    </div>

    <div *ngIf="!loading">
      <div class="contenedorAvatar" >
        <ion-avatar class="avatar-profile" (click)="SelectImage()">
          <img
            [srcPath]="Avatar()"
            *ngIf="!loadingAvatar"
            class="img-avatar"
            alt="Avatar"
            (ionError)="ErrorImagen()">
          <ion-skeleton-text *ngIf="loadingAvatar"  animated></ion-skeleton-text>
        </ion-avatar>
      </div>

      <div>
        <ion-title class="title-name">
          {{user ? user.firstName + ' ' + user.lastName : 'John Doe'}}
        </ion-title>
      </div>

      <form [formGroup]="grupoForm"  (ngSubmit)="onSubmit()" class="end-list">
      <ion-list >
        <ion-item>
          <fa-icon
          [icon]="['fas', 'book-open'] "
          class="icono"
          slot="start"></fa-icon>
          <ion-label position="floating" class="pad-let-10">
            {{ 'WINK.ITEM_TYPES.BIOGRAPHY' | translate}}
          </ion-label>
          <ion-textarea maxlength="250"
          formControlName="biografia"
          (ionInput)="ChangeData()"
          ></ion-textarea>
        </ion-item>
        <div *ngIf="tour" tourAnchor="sections"></div>
        <mat-accordion multi="true" cdkDropListGroup
        class="margin-bottom">

          <mat-expansion-panel #pp
          cdkDropList
            [cdkDropListData]="publicoForm"
            (cdkDropListDropped)="MoverItem($event)"
            (cdkDropListEntered)="OpenPanel(pp)"
            (cdkDropListExited)="ClosePanel(pp)"
            formArrayName="0"
            >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'WINK.SECTIONS.PUBLIC' | translate}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="tour" tourAnchor="item"></div>
            <div *ngIf="tour" tourAnchor="item_icon"></div>
            <div

              class="acordion width-100"
              *ngFor="let itemPublico of publicoForm.controls; let i = index"
              [formGroupName]="i"
              cdkDrag
              [cdkDragDisabled]="order"
              (cdkDragStarted)="Drag()"
              (cdkDragEnded)="Drop()"
              [ngClass]="{'order': !order}">
                <app-item-perfil
                  [form]="itemPublico"
                  formControlName="item"
                  [ordenando]="order"
                  (delete)="DeleteItem(publicoForm, i)"
                  (changeData)="ChangeData()"
                  >
                </app-item-perfil>
            </div>
            <div *ngIf="publicoForm.length === 0" class="vacio">
              <fa-icon [icon]="['fas', 'exclamation-circle']" class="icono"></fa-icon>
            </div>
          </mat-expansion-panel>
          <div *ngIf="tour" tourAnchor="public"></div>
          <div *ngIf="tour" tourAnchor="private"></div>
          <mat-expansion-panel  #pg
          cdkDropList
            [cdkDropListData]="generalForm"
            (cdkDropListDropped)="MoverItem($event)"
            (cdkDropListEntered)="OpenPanel(pg)"
            (cdkDropListExited)="ClosePanel(pg)"
            formArrayName="1"
            >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'WINK.SECTIONS.GENERAL' | translate}}
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div
              class="acordion width-100"
              *ngFor="let itemGeneral of generalForm.controls; let i = index"
              [formGroupName]="i"
              cdkDrag
              [cdkDragDisabled]="order"
              (cdkDragStarted)="Drag()"
              (cdkDragEnded)="Drop()"
              [ngClass]="{'order': !order}"
              >
                <app-item-perfil
                [form]="itemGeneral"
                formControlName="item"
                [ordenando]="order"
                (delete)="DeleteItem(generalForm, i)"
                (changeData)="ChangeData()"
                >
                </app-item-perfil>
              </div>
              <div *ngIf="generalForm.length === 0" class="vacio">
                <fa-icon [icon]="['fas', 'exclamation-circle']" class="icono"></fa-icon>
              </div>
          </mat-expansion-panel>

          <mat-expansion-panel  #pper
            cdkDropList
            [cdkDropListData]="personalForm"
            (cdkDropListEntered)="OpenPanel(pper)"
            (cdkDropListDropped)="MoverItem($event)"
            (cdkDropListExited)="ClosePanel(pper)"
            formArrayName="2"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'WINK.SECTIONS.PERSONAL' | translate}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div
            class="acordion width-100"
            *ngFor="let itemPersonal of personalForm.controls; let i = index"
            [formGroupName]="i"
            cdkDrag
            [cdkDragDisabled]="order"
            (cdkDragStarted)="Drag()"
            (cdkDragEnded)="Drop()"
            [ngClass]="{'order': !order}"
            >
              <app-item-perfil
              [form]="itemPersonal"
              formControlName="item"
              [ordenando]="order"
              (delete)="DeleteItem(personalForm, i)"
              (changeData)="ChangeData()"
              >
              </app-item-perfil>
            </div>
            <div *ngIf="personalForm.length === 0" class="vacio">
              <fa-icon [icon]="['fas', 'exclamation-circle']" class="icono"></fa-icon>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel  #ppro
            cdkDropList
            [cdkDropListData]="profesionalForm"
            (cdkDropListEntered)="OpenPanel(ppro)"
            (cdkDropListDropped)="MoverItem($event)"
            (cdkDropListExited)="ClosePanel(ppro)"
            formArrayName="3"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'WINK.SECTIONS.PROFESSIONAL' | translate}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div
            class="acordion width-100"
            *ngFor="let itemProfesional of profesionalForm.controls; let i = index"
            [formGroupName]="i"
            cdkDrag
            [cdkDragDisabled]="order"
            (cdkDragStarted)="Drag()"
            (cdkDragEnded)="Drop()"
            [ngClass]="{'order': !order}"
            >
              <app-item-perfil
              [form]="itemProfesional"
              formControlName="item"
              [ordenando]="order"
              (delete)="DeleteItem(profesionalForm, i)"
              (changeData)="ChangeData()"
              >
              </app-item-perfil>
            </div>
            <div *ngIf="profesionalForm.controls.length === 0" class="vacio">
              <fa-icon [icon]="['fas', 'exclamation-circle']" class="icono"></fa-icon>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-list>
      </form>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed"  *ngIf="!isDrag" >
      <div *ngIf="tour" tourAnchor="add"></div>
      <div *ngIf="!loading">
        <ion-fab-button *ngIf="FormValid()" size="small" color="danger" (click)="Cancel()">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="FormValid()" size="small" color="success" (click)="onSubmit()">
          <ion-icon name="save"></ion-icon>
        </ion-fab-button>
        <ion-fab-button size="small" (click)="SelectSection()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </div>
      <ion-avatar *ngIf="loading" class="button-float-skeleton">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>

    </ion-fab>

  </ion-content>
</div>


<tour-step-template>
  <ng-template let-step="step" >
    <ion-card (click)="$event.stopPropagation()" class="padding-0 margin-0">
      <ion-card-header *ngIf="step?.title">
        <ion-card-title>
          {{step?.title}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text class="content-card-tour">
          {{step?.content}}
        </ion-text>
      </ion-card-content>
      <ion-buttons class="content-end">
        <ion-button *ngIf="tourService.hasPrev(step)" (click)="tourService.prev()">
          <ion-icon name="arrow-dropleft" slot="start"></ion-icon>
        </ion-button>
        <ion-button *ngIf="tourService.hasNext(step)" (click)="tourService.next()">
          <ion-icon name="arrow-dropright" slot="end"></ion-icon>
        </ion-button>
        <ion-button (click)="tourService.end()">
          {{step?.endBtnTitle}}
        </ion-button>
      </ion-buttons>
    </ion-card>
  </ng-template>
</tour-step-template>